#navbar{
    display: inline-block;
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    top: 0;

}
#navbar ul{
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
 }

li{
    display: inline;
    padding: 20px;
    border: 1px solid black;

}
#navbar a:hover{
color: red;
}
.imgNav{
height: 50px;
width: 50px;
border-radius: 25px;
}
#main{
    display: block;
    margin: 50px;
    display: inline-block;
    position: relative;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.dropbtn{
    background-color: cadetblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
}
.content{
    display: none;
    position: absolute;
    background-color: lightgray;
    width: 160px;
    z-index: 1;
}
.content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
body{margin: 30px;}
.content a:hover{
    background-color: azure;
}
.drplist:hover, .content{
display: block;
}

.desc {
    margin: 150px;
}

